.ant-input-affix-wrapper {
  border-radius: 4px;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #00979d !important;
}

.ant-input-affix-wrapper-focused {
  border-color: #00979d !important;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 151, 157, 0.2);
  box-shadow: 0 0 0 2px rgba(0, 151, 157, 0.2);
}
